@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Questrial:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@200;300;400;500;600;700;800;900&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  font-family: 'Almarai';
  font-weight: 400;
  font-size: 15px;
  font-variant-numeric: tabular-nums;
  font-variant: tabular-nums;
  line-height: 1.5715;
  list-style: none;
  font-feature-settings: "tnum";
}

.header-row ion-col{
    background-color: #3880ff;
    color: #fff;
    padding:10px !important;
}

ion-row{
  min-height: 45px;
}



h1{
  font-family: 'Questrial' !important;
  font-weight: 400;
  font-size: 32px;
}

.pl5{
  padding-left: 5px !important;
}

.border ion-col,.border ion-delete-button {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}
.width200 {
  min-width: 12%;
}
.width100 {
  min-width: 6%;
}

.width300 {
  min-width: 17%;
}

.mobile .class-header{
  width: 10%;
}
.mobile .with90{
  width: 90%;
}

.fullwidth{
  width: 90%;
  font-size: 10px;
}
.fullrow{
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ion-toggle {
  min-width:55px;
  height:22px;
  margin-bottom: 6px;
  position: relative;
  font-size: 14px;
  line-height: 45px;

  --background: rgba(0,0,0,.25);
  --background-checked: #28a745;

  --handle-background: #ffffff;
  --handle-background-checked: #ffffff;
  --handle-width: 19px;
}

ion-toggle[aria-checked="false"]::after{
  position: absolute;
  content: "off";
  top: 0;
  left: 45px;

}
ion-toggle[aria-checked="true"]::after {
  position: absolute;
  content: "on";
  top: 0;
  left:20px;
}

.custom-popover ion-select-popover ion-list {
  background: black;
}

.custom-popover ion-select-popover ion-item {
  --background: black;
  --color: #fff;
  --inner-border-width: 0;
}

.custom-popover ion-select-popover ion-radio {
  --color: #a61134;
  --color-checked: #4550f5;
}
.myClass {
  background-color: black;
  color:#fff;
  border-radius: 5px;
  padding:10px;
  opacity: 1 !important;
}
.select-text{
  color: #fff !important;
  opacity: 1 !important;
}
.select-icon {
    opacity: 1 !important;
}
.select-placeholder{
  opacity: 1 !important;
}


